.epoch-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.epoch-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #323232;
  color: #cccccc;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.epoch-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #cccccc;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
}

.epoch-modal-close:hover {
  color: #ffffff;
}

.epoch-modal-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.epoch-modal-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.epoch-modal-label {
  font-size: 12px;
  margin-bottom: 5px;
  color: #cccccc;
}

.epoch-modal-input {
  width: 50px;
  padding: 5px;
  text-align: center;
  background-color: #454545;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.epoch-modal-input:focus {
  outline: none;
  border-color: #ffffff;
}

.epoch-modal-select {
  padding: 5px;
  background-color: #454545;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.epoch-modal-select:focus {
  outline: none;
  border-color: #ffffff;
}

.epoch-modal-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #454545;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

.epoch-modal-button:hover {
  background-color: #555555;
}

.epoch-modal-button:active {
  background-color: #353535;
}
