.epoch-notification {
  position: fixed;
  background-color: #323232;
  color: #ffffff;
  padding: 20px 30px;
  border-radius: 5px;
  z-index: 10000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: opacity 0.3s ease;
  opacity: 1;
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.epoch-notification.top-right {
  top: 20px;
  right: 20px;
}

.epoch-notification.bottom-right {
  bottom: 20px;
  right: 20px;
}

.epoch-notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.epoch-notification-icon {
  width: 35px;
  margin-left: 15px;
}

.epoch-notification-title {
  font-size: 16px;
  font-weight: bold;
  color: #cccccc;
}

.epoch-notification-content {
  color: #ffffff;
}
